// VARIABLES
// Colors
@primary-color: dodgerblue;
@light-text-color: rgb(231, 231, 231);
@light-border-color: rgb(154, 154, 154);
@bg-color: #202020;

// Spacing

// Device widths
@mobile : 515px;
@tablet-big: 800px;
@tablet: 700px;

// MIXINS
.flex-center() {
  display: flex;
  align-items: center;
}

.flexbox(@flex-dir, @just-cont, @align-items, @wrap) {
  display: flex;
  flex-direction: @flex-dir;
  justify-content: @just-cont;
  align-items: @align-items;
  flex-wrap: @wrap;
}

.button-style() {
  // color
  // background-color
  // font-size
}

// STYLES
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  background: @bg-color;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: @light-text-color;
}

h1, h2, h3, h4, h5 {
  font-size: 2.5rem;
  font-weight: 900;
}

img {
  width: 100%;
  height: auto;
}

p {
  margin: 20px 0;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.button {
  display: inline-block;
  padding: .5em;
  min-width: 150px;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  line-height: 1em;
  background-color: white;
  color: #202020;
  cursor: pointer;
}

.button.primary {
  background-color: @primary-color;
  color: white;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  font-size: 1.6rem;
}

strong {
  font-weight: bold;
  color: @primary-color;
}

header {
  border-bottom: 1px solid @light-border-color;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 3rem;
    text-align: center;

    @media(max-width: @tablet-big) {
      margin-bottom: 20px;
    }
  }

  nav {
    .flexbox(row, flex-start, center, nowrap);
    margin-left: 62px;

    a {
      margin-left: 20px;
      font-size: 1.8rem;
      
    }

    .first-anchor {
      margin-left: 0;
    }

    @media(max-width: @tablet-big) {
      margin-left: 0;
    }
  }

  @media(max-width: @tablet-big) {
    flex-direction: column;
    align-items: center;
  }
}

.header-img-container {
  position: relative;
  margin-bottom: 70px;
}

.header-img-content {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 20px;

    @media(max-width: @tablet) {
      font-size: 3.8rem;
    }
  }
}

.cta-buttons-container {
  @media(max-width: @tablet) {
    .flexbox(column, center, center, nowrap);

    button {
      max-width: 250px;
      margin-bottom: 12px;
    }
  }
}

.main-content {
  .flexbox(row, space-between, stretch, wrap);
  display: flex;
  margin-bottom: 70px;
}

@media(max-width: @mobile) {
  .main-content {
    flex-direction: column;
  }
}

.main-content section {
  width: 50%;
  padding: 0 16px;
}

@media(max-width: @mobile) {
  .main-content section {
    width: 100%;
  }
}

.main-footer {
  margin-bottom: 70px;
  .flexbox(row, center, stretch, nowrap);
  border-top: 1px solid rgb(154, 154, 154);
  padding-top: 40px;
  
  nav {
    width: 90%;
    .flexbox(row, space-around, stretch, nowrap);
  }
}

.book-flight-btn {
  display: block;
  margin: 0 auto 40px;

  @media(max-width: 515px) {
      width: 90%;
      height: 50px;
      font-size: 2.5rem;
    }
}
